.button{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 0px;
    border: 1px solid light-dark(var(--light-border), var(--dark-border));
    background-color: light-dark(var(--light-card-bg), var(--dark-card-bg));
    color: light-dark(var(--light-text), var(--dark-text));
    cursor: pointer;
    height: 100%;

}

.button:hover{
    /* background-color: light-dark(var(--light-accent), var(--dark-accent)); */
    box-shadow: 4px 4px light-dark(var(--light-border), var(--dark-border));

}

.button:active{
    /* background-color: light-dark(var(--light-accent), var(--dark-accent)); */
    color: light-dark(var(--light-text-on-accent), var(--dark-text-on-accent));
}

.button.active{
    background-color: light-dark(var(--light-accent), var(--dark-accent));
    color: light-dark(var(--light-text-on-accent), var(--dark-text-on-accent));
}

.icon{
    width: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
}