/* Default styles for the App component. */
.App {
  text-align: center;

}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .App {
    display: grid;
    grid-template: 100px auto auto/ 1fr;
    grid-template-areas:
      "navbar"
      "content"
      "sidebar";
  }
}

/* Tablet devices */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .App {
    display: grid;
    grid-template: 100px 1fr / 260px 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
}

/* Desktop and larger device  */
@media screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template: 100px 1fr / 260px 1fr; 
    /* rows/columns */
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
  
}




