/* Default styles for the App component. */
.App {
  /* text-align: center; */
  margin: 0;
  height: 100vh;

}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .App {
    /* display: grid;
    grid-template: 50px 1fr 1fr/ 1fr;
    grid-template-areas:
      "navbar"
      "content"
      "sidebar"; */

      /* Reorder for mobile devices */

      display:flex;
      flex-direction: column;
  }

  .App :nth-child(1){
    order: 1;
  }
  .App :nth-child(2){
    order: 3;
  }
  .App :nth-child(3){
    order: 2;
  }
}

/* Tablet devices */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .App {
    display: grid;
    grid-template: auto 1fr / 1fr 2.5fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
}

/* Desktop and larger device  */
@media screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template: auto 1fr / 1fr 3fr; 
    /* rows/columns */
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
  
}




