:root {
  /* Light Mode */
  --light-bg: #FAE6D0;
  --light-card-bg: #FFF6ED;
  --light-text: #1B1B1B;
  --light-border: #1B1B1B;
  --light-accent: #FF7F50;
  --light-text-on-accent: #1B1B1B;

  /* Dark Mode */
  --dark-bg: #2B2A2A;
  --dark-card-bg: #3A3535;
  --dark-text: #FAE6D0;
  --dark-border: #FAE6D0;
  --dark-accent: #FF7F50;
  --dark-text-on-accent: #1B1B1B;
}


/* Default styles for the App component. */
.App {
  text-align: center;

}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .App {
    display: grid;
    grid-template: 100px auto auto/ 1fr;
    grid-template-areas:
      "navbar"
      "content"
      "sidebar";
  }
}

/* Tablet devices */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .App {
    display: grid;
    grid-template: 100px 1fr / 260px 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
}

/* Desktop and larger device  */
@media screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template: 100px 1fr / 260px 1fr; 
    /* rows/columns */
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
  }
  
}




