p{
    margin: 0;
    font-size: 0.8rem;
}

.comment{
    display: flex;
    flex-direction: column;
    border: 1px dashed light-dark(var(--light-border), var(--dark-border));
    padding: 20px 20px;
    gap: 20px;
    width:100%;
    box-sizing: border-box;
}

.commentInfo{
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: small;
}

.commentContent{
    text-wrap: wrap;
    overflow-wrap: anywhere;
}


.interpunct{
    font-size: 1.5rem !important;
    line-height: 0.5em;
}